

.kr-dh {
    font-family: 'Do Hyeon', sans-serif;
}

.kr-ng {
    font-family: 'Nanum Gothic', sans-serif;
}

.russo {
    font-family: 'Russo One', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

td {
    font-family: 'Open Sans', sans-serif;
}